body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50;
}
.name-highlight{
color: rgb(255, 183, 0);
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
}
img{
    width: 300px;
    height: 300px;
}